{% extends 'main.html' %}


{% block content%}
<style>


.game-box {
  width: 400px;
  height: 150px;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;

  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  max-width: 400px; /* Set a maximum width if necessary */
}

.game-box:hover {
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.team-logo {
  width: 100px;
  height: 70px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
</style>

<div class="results-container">
  <h2>Match History</h2>
  {% for game in games %}
      <a href="{% url 'view-game' game.id %}">
        <div class="game-box">
          <div class="teams">
              <div class="team">
                  <div class="team-logo">
                      <img src="teamA.jpg" alt="Team A" style="max-width: 80%; max-height: 80%;">
                  </div>
                  <span>{{game.team1.name}}</span>
              </div>
              <span>VS</span>
              <div class="team">
                  <div class="team-logo">
                      <img src="teamB.jpg" alt="Team B" style="max-width: 80%; max-height: 80%;">
                  </div>
                  <span>{{game.team2.name}}</span>
              </div>
          </div>
          <div class="details">
              <p>Location: {{game.location}}, Date: {{game.date}}, Time: {{game.time}}</p>
    
          </div>
        </div>
      </a>
  {% endfor %}
</div>
{% endblock %}